@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome to Lab5</h1>
    <p>Boning Yang</p>
    <br />
    <p>course: cst8359</p>
    <br />
    <p>Lab 5 is to upload and edit an url of image</p>
</div>
